<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Poblacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.cca2; let index= $index) {
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img [src]="country.flagSvg" [alt]="country.name" class="w-10" />
        </td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td>
          <span class="badge badge-secondary">
            {{ country.population | number }}
          </span>
        </td>
        <td>
          <a [routerLink]="['/country/by', country.cca2]" class="link-primary cursor-pointer"
            >Mas informacion</a
          >
        </td>
      </tr>
      }
      <!--  -->
      @if (errorMessage()) {
      <tr>
        <td colspan="7">
          <div
            role="alert"
            class="alert alert-error w-96 mx-auto"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M15.762 17.177a8.47 8.47 0 0 1-4.934 1.817a6.5 6.5 0 0 0-8.772-7.519a8.5 8.5 0 1 1 15.12 4.287l5.345 5.345l-1.415 1.414z"
              />
              <path
                fill="currentColor"
                d="m8.743 14.672l-1.415-1.415L4.5 16.086l-2.828-2.829l-1.415 1.415L3.086 17.5L.257 20.328l1.415 1.415L4.5 18.914l2.828 2.829l1.415-1.415L5.914 17.5z"
              />
            </svg>
            <span>{{ errorMessage() }}</span>
          </div>
        </td>
      </tr>
      }
      <!--  -->
      @else if (isEmpty() && !isLoading() ) {
      <tr>
        <td colspan="7" class="text-center">No se encontraron resultados</td>
      </tr>
      }
      <!--  -->
      @else if (isLoading()) {
      <tr>
        <td colspan="8" class="w-full">
          <div class="flex justify-center items-center gap-5 py-4">
            <span class="skeleton skeleton-text text-2xl">Cargando...</span>
            <span class="loading loading-bars loading-lg text-primary text-2xl"></span>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
