<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Poblacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.cca2; let index= $index) {
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img [src]="country.flagSvg" [alt]="country.name" class="w-10" />
        </td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td>
          <span class="badge badge-secondary">
            {{ country.population | number }}
          </span>
        </td>
        <td>
          <a [routerLink]="['/country/by', country.cca2]" class="link-primary cursor-pointer">Mas informacion</a>
        </td>
      </tr>
      }
      <!--  -->
      @if (errorMessage()) {
      <dialog class="modal modal-open">
        <div class="modal-box">
          <h3 class="font-bold text-lg flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="text-error">
              <g fill="none">
                <path d="M20 10c0 6.5-8 12-8 12s-8-5.5-8-12a8 8 0 1 1 16 0" />
                <path stroke="currentColor" stroke-linecap="square" stroke-width="2"
                  d="M20 10c0 6.5-8 12-8 12s-8-5.5-8-12a8 8 0 1 1 16 0ZM9.879 8.379L12 10.5m0 0l2.121 2.121m-2.12-2.12l2.12-2.122m-2.12 2.121l-2.122 2.121" />
              </g>
            </svg>
            Error
          </h3>
          <p class="py-4">
            No se pudo obtener {{searchType()}} con el nombre:
            <span class="text-error underline decoration-2 font-semibold">{{ errorMessage() }}</span>
          </p>
          <div class="modal-action">
            <button class="btn btn-error" (click)="closeError()">Cerrar</button>
          </div>
        </div>
      </dialog>
      <!-- <tr>
        <td colspan="7">
          <div role="alert" class="alert alert-error mx-auto flex items-center gap-3 w-auto justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g fill="none">
                <path d="M20 10c0 6.5-8 12-8 12s-8-5.5-8-12a8 8 0 1 1 16 0" />
                <path stroke="currentColor" stroke-linecap="square" stroke-width="2"
                  d="M20 10c0 6.5-8 12-8 12s-8-5.5-8-12a8 8 0 1 1 16 0ZM9.879 8.379L12 10.5m0 0l2.121 2.121m-2.12-2.12l2.12-2.122m-2.12 2.121l-2.122 2.121" />
              </g>
            </svg>
            <span class="font-bold">{{ errorMessage() }}</span>
          </div>
        </td>
      </tr> -->
      }
      <!--  -->
      @else if (isEmpty() && !isLoading() ) {
      <tr>
        <td colspan="7" class="text-center">No se encontraron resultados</td>
      </tr>
      }
      <!--  -->
      @else if (isLoading()) {
      <tr>
        <td colspan="8" class="w-full">
          <div class="flex justify-center items-center gap-5 py-4">
            <span class="skeleton skeleton-text text-2xl">Cargando...</span>
            <span class="loading loading-bars loading-lg text-primary text-2xl"></span>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
